$breakpoint-laptop: 1025px;
$breakpoint-cellphone: 600px;

.home-container {
    font-size: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    animation: fade-in-home 3.5s ease-in-out;
    animation-fill-mode: forwards;

    img {
        width: 100vw;
        height: inherit;
        object-fit: cover;
    }

    h5 {
        margin: 1vh 0 0 2vw;
        font-size: 18px;
        color: #505068;
        font-weight: bold;
    }
}

.heading {
    padding-top: 9%;
    color: #505068;
    text-align: center;
    font-size: larger;
    line-height: 170%;
    font-weight: 600;

    h4 {
        margin-top: 4%;
        color: #b85f5c;
    }
}

@keyframes fade-in-home {
    from {
        opacity: 0%;
        background-image: url("../../public/assets/Home-Desktop-LR.webp");
    }

    to {
        opacity: 100%;
        background-image: url("../../public/assets/Home-Desktop.webp");
    }
}

@keyframes fade-in-home-laptop {
    from {
        opacity: 0%;
        background-image: url("../../public/assets/Home-Laptop-LR.webp");
    }

    to {
        opacity: 100%;
        background-image: url("../../public/assets/Home-Laptop.webp");
    }
}

@keyframes fade-in-home-mobile {
    from {
        opacity: 0%;
        background-image: url("../../public/assets/Home-Cell-LR.webp");
    }

    to {
        opacity: 100%;
        background-image: url("../../public/assets/Home-Cell.webp");
    }
}

@media (max-width: $breakpoint-laptop) {
    .home-container {
        font-size: 2.3em;
        animation: fade-in-home-laptop 3.5s ease-in-out;
        animation-fill-mode: forwards;

        .heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5%;
            height: 40vh;
        }
    }
}

@media (max-width: $breakpoint-cellphone) {
    .home-container {
        font-size: 1.34em;
        animation: fade-in-home-mobile 3.5s ease-in-out;
        animation-fill-mode: forwards;
    }
}
